body {
    /* background: linear-gradient(45deg, #8e0e00, #1f1c18);
    background-size: 400% 400%;
    animation: bodyAnim 8s linear infinite; */
    background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
}
@keyframes bodyAnim {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}